.checkbox {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox__container {
    position: relative;
    display: flex;
    width: 36px;
    height: 20px;
    margin-right: 12px;
}

.checkbox__input {
    display: none;
}

.checkbox__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    background-color: #EBEBEB;
    transition: 0.4s;
}

.checkbox__slider:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 15px;
    bottom: 3px;
    left: 3px;
    border-radius: 50%;
    background-color: #2BE080;
    transition: 0.4s;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.checkbox__input:checked+.checkbox__slider:before {
    transform: translateX(13px);
}

.checkbox__text {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}